
<div class="container">
<h1>About Us</h1>
<p>Trademall.in website is an Internet-based e-commerce service provider portal operated by Guduris IT Solutions Pvt Ltd, company functioning under the laws of India. We, at Trademall.in are on a mission to build a platform where our Shoppers Community can Save money on their shopping and Share valuable information. We would like to provide the best service possible in making our Shoppers Experience Sweet.

Our main motto is to spread happiness among the Shoppers and ensure that our Shoppers Community always gets to save more on their Shopping. Trademall.in always treats its Shoppers with utmost importance, tries to understand their needs and preferences and accordingly finds the best solution for them. We also serve as a platform where our Shoppers Community can find and share quality information about Shopping and aims to provide the best possible service.

Trademall.in is committed to the highest standards of ethics and business conduct. We believe in transparency and fairness in dealing with our Shoppers, Clients and in every transaction we do. We provide honest service without any hidden terms or costs, always bound to our words and do not commit to something we can’t achieve.

As a team, we do our best to deliver the best value to our Shoppers. Our team is comprised of Shopping Experts, talented IT people, creative Designers and enthusiastic Customer Care professionals from various backgrounds who are enthusiastic, skilled and well equipped. We always try to come up with unique and innovative solutions to help our shoppers in making their Shopping Sweet.

We are the best paying Cashback website in India while offering the best service to Shoppers. Hope you will find it financially rewarding, fun and easy to Shop via Sitaphal.com and also to find necessary information about Shopping.
</p>
</div>