<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="./assets/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
<footer>
	<div class="inner_wrapper">
		<div class="newsletter">
			<div class="col-md-8">
				 <h4>Sign Up For Newsletter : <small>Get One Month premiun Membership For free</small></h4>
			</div>
			<div class="col-md-4">
				<div class="newsletter_in search">
						<form (submit)="onSubscribe(postform)" #postform="ngForm">
						  <div class="input-group">
							<input type="text" class="form-control" name="email" ngModel placeholder="Enter mail id here...">
							<div class="input-group-btn">
							  <button  class="btn btn-default" type="submit">
							  Subscribe
							  </button>
							</div>
						  </div>
						</form>
					</div>
			</div>
		</div>
		
		<div class="foot_i">
			<div class="col-md-3">
				<h4>Our Templates</h4>
				<ul>
					<li><a href="#">Brands Gift</a></li>
					<li><a href="#">Vouchers Affiliates</a></li>
					<li><a href="#">Specials</a></li>
					<li><a href="#">Privacy Policy</a></li>
	<li><a routerLink="/contact-us">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>Information</h4>
				<ul>
					<li><a href="#">Brands Gift</a></li>
					<li><a href="#">Vouchers Affiliates</a></li>
					<li><a href="#">Specials</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a routerLink="/contact-us">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>Customer Service</h4>
				<ul>
					<li><a href="#">Brands Gift</a></li>
					<li><a href="#">Vouchers Affiliates</a></li>
					<li><a href="#">Specials</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a routerLink="/contact-us">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4>Contact Us</h4>
				<p><i class="fas fa-map-marker-alt"></i> 101 royal ratan near indraprastha tower indore</p>
				<p><i class="fas fa-phone"></i> 0731-4980308</p>
				<p><i class="fas fa-envelope-open"></i> info@company.com</p>
			</div>
		</div>
		
		<div class="foot_ii">
			<ul>
				<li><a routerLink="/home">Home</a></li>
				<li><a routerLink="/all-product">Shop</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        </div>

			<p class="sign">Copyright © 2019 SMTGroup.in.</p>
			
			<ul class="pay_img">
				<li><a href="#"><img src="./assets/images/007-visa.png" alt=""/></a></li>
				<li><a href="#"><img src="./assets/images/023-mastercard-1.png" alt=""/></a></li>
				<li><a href="#"><img src="./assets/images/024-mastercard.png" alt=""/></a></li>
            </ul>
        </footer>        
<script src="./assets/js/jquery-1.11.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/swiper.min.js"></script>
<script src="./assets/js/smt.js"></script>
