
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"/>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="./assets/css/swiper.min.css">
 <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
<div class="contener">
    <div class="inner_wrapper">
    
        <div class="col-md-3">
        
        <div class="cart">

                     <!-- <div class="left_cart">
                        <div class="shopping-cart-header">
                          <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
                          <div class="shopping-cart-total">
                            <span class="lighter-text">Total:</span>
                            <span class="main-color-text">$2,229.97</span>
                          </div>
                        </div> end shopping-cart-header

                        <ul class="shopping-cart-items">
                          <li class="clearfix">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
                            <span class="item-name">Sony DSC-RX100M III</span>
                            <span class="item-price">$849.99</span>
                            <span class="item-quantity">Quantity: 01</span>
                          </li>

                          <li class="clearfix">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
                            <span class="item-name">KS Automatic Mechanic...</span>
                            <span class="item-price">$1,249.99</span>
                            <span class="item-quantity">Quantity: 01</span>
                          </li>

                          <li class="clearfix">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
                            <span class="item-name">Kindle, 6" Glare-Free To...</span>
                            <span class="item-price">$129.99</span>
                            <span class="item-quantity">Quantity: 01</span>
                          </li>
                        </ul>

                        <a routerLink="/checkout" class="button">Checkout</a>
                      </div> end shopping-cart --> 

                </div>

            <div class="left_cart left_iicart">
                <article class="card-group-item">

                    <div class="filter-content">
                        <div class="card-body">
                                <h4>Filters</h4>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            
                          <label>Min</label>
                          <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                        </div>
                        <div class="form-group col-md-6 text-right">
                          <label>Max</label>
                          <input type="number" class="form-control" placeholder="$1,0000">
                        </div>
                        </div>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
                
            </div> <!-- card.// -->

            <div class="cat_list left_cart">
                <h4>Categories</h4>
                <label class="check ">Praesent quis elit
                <input type="checkbox"  name="is_name">
              <span class="checkmark"></span>
            </label>
            <label class="check ">Orci auctor fringilla
                <input type="checkbox"  name="is_name">
              <span class="checkmark"></span>
            </label>
            <label class="check ">Quis sit amet metus.
                <input type="checkbox"  name="is_name">
              <span class="checkmark"></span>
            </label>
            <label class="check ">Facilisis porttitor
                <input type="checkbox"  name="is_name">
              <span class="checkmark"></span>
            </label>
            
                <label class="check ">Praesent quis elit
                <input type="checkbox"  name="is_name">
              <span class="checkmark"></span>
            </label>
            <label class="check ">Orci auctor fringilla
                <input type="checkbox"  name="is_name">
              <span class="checkmark"></span>
            </label>
            <label class="check ">Quis sit amet metus.
                <input type="checkbox"  name="is_name">
              <span class="checkmark"></span>
            </label>
            <label class="check ">Facilisis porttitor
                <input type="checkbox"  name="is_name">
              <span class="checkmark"></span>
            </label>
            
            
            
            </div>
            
            
            <div class="cat_list left_cart">
                <h4>Categories</h4>
                <ul class="treeview">
                    <li><a href="#">Home Accessories</a>
                        <ul>
                            <li><a href="#">Carry out</a></li>
                            <li><a href="#">Household items</a>
                                <ul>
                                    <li><a href="#">Home Needs</a></li>
                                    <li><a href="#">Home Lighting</a></li>
                                    <li><a href="#">Home Decor</a>
                                        <ul>
                                            <!-- <li><a href="#">Twig</a></li>
                                            <li><a href="#">Twig</a></li>-->
                                            <li><a href="#">BackPacks</a></li> 
                                            <li><a href="#">Tables</a>
                                                <ul>
                                                    <li><a href="#">Round Table</a></li>
                                                    <li><a href="#">Centralized Mirror</a></li>
                                                    <!-- <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li> -->
                                                </ul>
                                            </li>
                                            <li><a href="#">Dimlights</a></li>
                                            <li><a href="#">Dineerlights</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Sanitary</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Mobiles</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="#">Tree</a>
                        <ul>
                            <li><a href="#">Branch</a></li>
                            <li><a href="#">Branch</a>
                                <ul>
                                    <li><a href="#">Stick</a></li>
                                    <li><a href="#">Stick</a></li>
                                    <li><a href="#">Stick</a>
                                        <ul>
                                            <li><a href="#">Twig</a></li>
                                            <li><a href="#">Twig</a></li>
                                            <li><a href="#">Twig</a></li>
                                            <li><a href="#">Twig</a>
                                                <ul>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                    <li><a href="#">Leaf</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Twig</a></li>
                                            <li><a href="#">Twig</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Stick</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Branch</a></li>
                            <li><a href="#">Branch</a></li>
                        </ul>
                    </li> -->
                </ul> 
                <!-- TREEVIEW CODE-->
            </div>
        
        
        
              
        </div>
        
        <div class="col-md-9">
            <div class="pro_details">
                <div class="pro_details_left">
                    <h4>Product Details</h4>
                </div>
                <div class="pro_details_right">
                    <select class="form-control">
                        <option value="menu_order" selected="selected">Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by latest</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>					
                    </select>
                </div>
            </div>
            <div class="view_all">
                <a (click)="addtocart()">
                <div class="col-md-4">
                    <div class="fx_box">
                        <img src="./assets/images/pr1.jpg" alt=""/>
                        <h4>Munc Acilisis</h4>
                        <p class="price_tex">$150 <span>$200</span></p>
                        <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                    </div>
                </div>
            </a>
                <a (click)="addtocart()">
                <div class="col-md-4">
                    <div class="fx_box">
                        <img src="./assets/images/pr2.jpg" alt=""/>
                        <h4>Munc Acilisis</h4>
                        <p class="price_tex">$150 <span>$200</span></p>
                        <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                    </div>
                </div>
            </a>
            <a (click)="addtocart()">
                <div class="col-md-4">
                    <div class="fx_box">
                        <img src="./assets/images/pr3.jpg" alt=""/>
                        <h4>Munc Acilisis</h4>
                        <p class="price_tex">$150 <span>$200</span></p>
                        <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                    </div>
                </div>
            </a>
            <a (click)="addtocart()">
                       <div class="col-md-4">
                    <div class="fx_box">
                        <img src="./assets/images/pr4.jpg" alt=""/>
                        <h4>Munc Acilisis</h4>
                        <p class="price_tex">$150 <span>$200</span></p>
                        <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                    </div>
                </div>
            </a>
            <a (click)="addtocart()">
                    <div class="col-md-4">
                    <div class="fx_box">
                        <img src="./assets/images/pr5.jpg" alt=""/>
                        <h4>Munc Acilisis</h4>
                        <p class="price_tex">$150 <span>$200</span></p>
                        <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                    </div>
                </div>
            </a>
            <a (click)="addtocart()">

                <div class="col-md-4">
                    <div class="fx_box">
                        <img src="./assets/images/pr1.jpg" alt=""/>
                        <h4>Munc Acilisis</h4>
                        <p class="price_tex">$150 <span>$200</span></p>
                        <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                    </div>
                </div>
            </a>
            <a (click)="addtocart()">

                <div class="col-md-4">
                    <div class="fx_box">
                        <img src="./assets/images/pr2.jpg" alt=""/>
                        <h4>Munc Acilisis</h4>
                        <p class="price_tex">$150 <span>$200</span></p>
                        <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                    </div>
                </div>
                </a>
            <a (click)="addtocart()">

                <div class="col-md-4">
                    <div class="fx_box">
                        <img src="./assets/images/pr3.jpg" alt=""/>
                        <h4>Munc Acilisis</h4>
                        <p class="price_tex">$150 <span>$200</span></p>
                        <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                    </div>
                </div>
                </a>
            <a (click)="addtocart()">

                <div class="col-md-4">
                    <div class="fx_box">
                        <img src="./assets/images/pr4.jpg" alt=""/>
                        <h4>Munc Acilisis</h4>
                        <p class="price_tex">$150 <span>$200</span></p>
                        <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                    </div>
                </div>
                </a>
            
            </div>
            
            
        </div>
    
        
        
        
        
        
        
    </div>
</div>