<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
<div class="contener">
	<div class="inner_wrapper">
		<div class="mar_cart">
		
		
		
		
		
		
			<div class="col-md-5">
				<div class="pr_slider_bx">
		

						<div class="row">
							
								<a class="pointer sliderarrow pr_left" id="left"> 
									<i class="fas fa-arrow-alt-circle-left"></i>
								</a>
							
							<div class="col-md-12">
								<div class="pr_viw_slide">
								
									<img src="http://spinksimpex.com/test/sample/1.jpg" id="imageDisplay" alt="-1"  width="400px">
								
								</div>
							</div>
							
								<a class="pointer sliderarrow pr_right" id="right">
									<i class="fas fa-arrow-alt-circle-right"></i>
								</a>
							
						</div>
						<div class="col-md-12">
							<ul class="smal_sample">
								 <li><img src="http://spinksimpex.com/test/sample/1.jpg" class="gallery"></li> 
								<li><img src="http://spinksimpex.com/test/sample/2.jpg" class="gallery"></li>
								<li><img src="http://spinksimpex.com/test/sample/3.jpg" class="gallery"></li>
								<li><img src="http://spinksimpex.com/test/sample/4.jpg" class="gallery"></li>
							</ul>
						</div>
					
				
				
				 </div>

			</div>
			<div class="col-md-7">
				<div class="card_right">
					<h4>JBL Flip 3 Portable Bluetooth</h4>
					<p class="str_gry"><i class="fas fa-star str_green"></i>
						<i class="fas fa-star str_green"></i>
						<i class="fas fa-star str_green"></i>
						<i class="fas fa-star str_green"></i>
						<i class="fas fa-star"></i> &nbsp;&nbsp;
						
					1 Reviews &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#"> <i class="fas fa-pencil-alt"></i> Write A Review</a></p>
					
					<table class="br_full">
						<tr>
							<td>Brands:</td>
							<td>Apple</td>
						</tr>
						<tr>
							<td>Product Code:</td>
							<td>product 20</td>
						</tr>
						<tr>
							<td>Availability:</td>
							<td>In Stock</td>
						</tr>

					</table>
					<p>Intel Core 2 Duo processor Powered by an Intel Core 2 Duo processor at speeds up to 2.16GHz, the new MacBook is the fastest ever. 1GB memory, larger hard drives The new MacBook now comes with 1GB of memory standard and larger hard drives for the entire line perfect for running more..</p>
					
					<h1 class="price_tx">$602.00 <small><del>$500</del></small></h1>
					
					<div class="cart_prdetai">
						<ul>
							<li><input type="number" placeholder="01" class="ad_num"/></li>
							<li><button><i class="fas fa-shopping-cart"></i><a routerLink="/checkout">ADD TO CART</a></button></li>
						</ul>
					</div>
					<div class="rew_rating">
					<div class="rating">
					  <span class="rating-num">4.0</span>
					  <div class="rating-stars">
						<span><i class="active icon-star"></i></span>
						<span><i class="active icon-star"></i></span>
						<span><i class="active icon-star"></i></span>
						<span><i class="active icon-star"></i></span>
						<span><i class="icon-star"></i></span>
					  </div>
					  <div class="rating-users">
						<i class="icon-user"></i> 1,014,004 total
						<p class="str_gry"><i class="fas fa-star str_green"></i>
						<i class="fas fa-star str_green"></i>
						<i class="fas fa-star str_green"></i>
						<i class="fas fa-star str_green"></i>
						<i class="fas fa-star"></i> </p>
					  </div>
					</div>
					
					<div class="histo">
					  <div class="five histo-rate">
						<span class="histo-star">
						  <i class="active icon-star"></i> 5           </span>
						<span class="bar-block">
						  <span id="bar-five" class="bar" style="width:100%;">
							<span>566,784</span>&nbsp;
						  </span> 
						</span>
					  </div>
					  
					  <div class="four histo-rate">
						<span class="histo-star">
						  <i class="active icon-star"></i> 4           </span>
						<span class="bar-block">
						  <span id="bar-four" class="bar" style="width:70%;">
							<span>171,298</span>&nbsp;
						  </span> 
						</span>
					  </div> 
					  
					  <div class="three histo-rate">
						<span class="histo-star">
						  <i class="active icon-star"></i> 3           </span>
						<span class="bar-block">
						  <span id="bar-three" class="bar" style="width:60%;">
							<span>94,940</span>&nbsp;
						  </span> 
						</span>
					  </div>
					  
					  <div class="two histo-rate">
						<span class="histo-star">
						  <i class="active icon-star"></i> 2           </span>
						<span class="bar-block">
						  <span id="bar-two" class="bar" style="width:20%;">
							<span>44,525</span>&nbsp;
						  </span> 
						</span>
					  </div>
					  
					  <div class="one histo-rate">
						<span class="histo-star">
						  <i class="active icon-star"></i> 1           </span>
						<span class="bar-block">
						  <span id="bar-one" class="bar" style="width:10%;">
							<span>136,457</span>&nbsp;
						  </span> 
						</span>
					  </div>
					</div>
					
					</div>
					
					
				</div>
			</div>
		</div>
		
		
		<div class="review_rat">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
			  </li>
			</ul>
			<div class="tab-content" id="myTabContent">
			  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
			  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
			  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
			</div>
		</div>
		
	</div>
</div>
<script>
// $(function(){
 
// 	var  smalslider =  (function(na=""){
// 		 var left = $('#left');
// 		 var right = $('#right');
// 		 var img = $('#imageDisplay');
// 		 var  n;
// 		 if (na=="") {
// 		    n = img.attr('alt');	
// 		 }else{
// 		 	n = na;
// 		 }
		 
// 		 if (n < -2) {
// 		 	n ="-1";

// 		 }
// 		 if (n >= 3) {
// 		 	n =n-4;
// 		 }
		 
// 		 n++;
// 		 left.attr('alt',n);
// 		 right.attr('alt',n);
// 		 img.attr('alt',n);
//          $(".smal_sample li").removeClass('active');
// 		 $(".smal_sample li:eq("+n+")").addClass('active');
// 		 img.hide();
//          var s_img = $(".gallery:eq("+n+")").attr('src');
// 		 img.attr('src',s_img);
// 		 img.show();
// 	});
//     setInterval(function(){smalslider(); }, 10000);
    
//     $(document.body).on('click', '#left', function(event) {
// 	   	event.preventDefault();
// 	    var num = parseInt($(this).attr('alt'));
// 	    num +=2; 
// 	    $(this).hide();
// 	    smalslider(num); 
// 	    $(this).show();
	    
// 	});
// 	$(document.body).on('click', '#right', function(event) {
// 	   	event.preventDefault();
// 	    var num = $(this).attr('alt'); 
// 	    $(this).hide();
// 	    smalslider(num);
// 	    $(this).show();
// 	});
// 	$(document.body).on('click', '.gallery', function(event) {
// 	   	var num = $(this).attr('alt');
	    
// 	    smalslider(num);
// 	});
// 	 smalslider();
// 	$('.gallery').each(function(index, el) {
// 		 index -=1;
// 		$(this).attr('alt',index);
// 	});
// });
// </script>