.control-label.required:after{ 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px;
  }
  form.submitted .ng-invalid
  {
      border:1px solid #f00;
  }
