
    <link rel="stylesheet" type="text/css" href="./assets/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <div class="swiper-container"  [swiper]="config">
                <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./assets/images/logo.png"></div>
                    <div class="swiper-slide"><img src="./assets/images/slider.jpg"></div>
               
                  <div class="swiper-slide"><img src="./assets/images/slider1.jpg"></div>
                  <div class="swiper-slide"><img src="./assets/images/slider3.jpg"></div>
                  <div class="swiper-slide"><img src="./assets/images/slider4.jpg"></div>
                  
                  
                  
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Pagination -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
