<link rel="stylesheet" type="text/css" href="./assets/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

      <div class="swiper-container" [swiper]="config1">
        <div class="swiper-wrapper">
        
          <div class="swiper-slide">
            <div class="fx_box">
                <img src="./assets/images/pr1.jpg" alt=""/>
                <h4>Munc Acilisis</h4>
                <p class="price_tex">$150 <span>$200</span></p>
                <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
            </div>
          
            <div class="fx_box">
                <img src="./assets/images/pr2.jpg" alt=""/>
                <h4>Munc Acilisis</h4>
                <p class="price_tex">$150 <span>$200</span></p>
                <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
            </div>
        
            <div class="fx_box">
                <img src="./assets/images/pr3.jpg" alt=""/>
                <h4>Munc Acilisis</h4>
                <p class="price_tex">$150 <span>$200</span></p>
                <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
            </div>
          </div>
          <div class="swiper-slide">
         
            <div class="fx_box">
                <img src="./assets/images/pr4.jpg" alt=""/>
                <h4>Munc Acilisis</h4>
                <p class="price_tex">$150 <span>$200</span></p>
                <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
            </div>
      
            <div class="fx_box">
                <img src="./assets/images/pr5.jpg" alt=""/>
                <h4>Munc Acilisis</h4>
                <p class="price_tex">$150 <span>$200</span></p>
                <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
            </div>
                <div class="fx_box">
                    <img src="./assets/images/pr1.jpg" alt=""/>
                    <h4>Munc Acilisis</h4>
                    <p class="price_tex">$150 <span>$200</span></p>
                    <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                </div>
          </div>
          <div class="swiper-slide">
                <div class="fx_box">
                    <img src="./assets/images/pr2.jpg" alt=""/>
                    <h4>Munc Acilisis</h4>
                    <p class="price_tex">$150 <span>$200</span></p>
                    <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                </div>
            
                <div class="fx_box">
                    <img src="./assets/images/pr3.jpg" alt=""/>
                    <h4>Munc Acilisis</h4>
                    <p class="price_tex">$150 <span>$200</span></p>
                    <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                </div>
             
                <div class="fx_box">
                    <img src="./assets/images/pr4.jpg" alt=""/>
                    <h4>Munc Acilisis</h4>
                    <p class="price_tex">$150 <span>$200</span></p>
                    <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                </div>
          </div>
          <div class="swiper-slide">
                <div class="fx_box">
                    <img src="./assets/images/pr5.jpg" alt=""/>
                    <h4>Munc Acilisis</h4>
                    <p class="price_tex">$150 <span>$200</span></p>
                    <div class="fx_addtocart"><a (click)="addtocart()"><i class="fas fa-shopping-cart"></i> Add to Cart</a></div>
                </div>
                
              </div>
          </div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    