<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="./assets/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<div class="contener">
		<div class="inner_wrapper">
			<div class="my_profile">
				<div class="col-md-3">
					<div class="well" style="background: #fff;">
						<div class="media text-center">
						  <div class="media-center media-bottom">
							
							<img src="./assets/images/pr6.jpg" class="media-object" style="width:60px; margin:0 auto;">
						  </div>
						  <div class="media-body">
							
							<h5>User name</h5>
							<br>
							<h4 class="media-heading">Welcome to Trademall</h4>
						  </div>
						</div>
					</div>
					
					<div class="well pro_left_ii" style="background: #fff;">
						<ul class="nav nav-tabs  nav-stacked">
						  <li class="active"><a data-toggle="tab" href="#home">MY ORDERS</a></li>
						  <li><a data-toggle="tab" href="#menu1">ACCOUNT SETTINGS</a></li>
						  <li ><a *ngIf="show()" (click)="onLogout()" data-toggle="tab" href="#menu2">Logout</a></li>
						</ul>
					
					</div>
					
					
				</div>
				<div class="col-md-9">

							<div class="well" style="background:#fff;">
							<h4><button class="btn btn-info"> Back</button> &nbsp;&nbsp; Order Details</h4>
						<hr>
						<div class="row">
							<div class="col-md-6">
								<span><b>Order No. 5924675908</b></span><br>
								<p>31 August 2018 11:40 am</p>
							</div>
							<div class="col-md-6 text-right">
								<h4>Order Total $24</h4>
						
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-6">
								<h5>Sold By</h5>
								<br>
								<p><b>Home Sansar</b></p>
								<p>676 Gear It Up NEAR Anupama Theatre
								Kottayam - 686635 Kerala</p>
								<p>Mobile: 9532640732</p>
							</div>
							<div class="col-md-6 text-right">
									<h5>Delivery Address</h5>
								<br>
								<p><b>Pushpam Saxena</b></p>
								<p>101 ROYAL RATAN NEAR INDRAPRASTHA INDORE
								INDORE - 452001 MADHYA PRADESH</p>
								<p>Mobile: 9516481444</p>
							</div>
						</div>
						<hr>
						<table class="table table-hover shopping-cart-wrap">
						<thead class="text-muted">
						<tr>
						  <th scope="col"  width="120">Product</th>
						   <th scope="col">Product Details</th>

						 
						  <th scope="col">Price</th>
						</tr>
						</thead>
						<tbody>

						<tr>
							<td>
								<figure class="media">
									<div class="img-wrap"><img style="max-height:70px;" src="./assets/images/pr2.jpg" class="img-thumbnail img-sm"></div>
								</figure> 
							</td>
							<td>
							<figcaption class="media-body">
								<h4 class="title text-truncate" style="margin-bottom:7px;">Zara Silver Women Side Bag</h4>
								
									<p>Sold By Home Sansar</p>
									<p>Quantity: 1</p>
							</figcaption>
							</td>
							
							<td> 
								<div class="price-wrap  text-right"> 
									<var class="price">$ 20</var> 
							
								</div> <!-- price-wrap .// -->
							</td>

						</tr>


						<tr>
							<td>
								<figure class="media">
									<div class="img-wrap"><img style="max-height:70px;" src="./assets/images/pr3.jpg" class="img-thumbnail img-sm"></div>
								</figure> 
							</td>
							<td>
							<figcaption class="media-body">
								<h4 class="title text-truncate" style="margin-bottom:7px;">Buffalo Men's Round Neck T-shirt </h4>
								
								
									<p>Sold By Home Sansar</p>
									<p>Quantity: 1</p>

							</figcaption>
							</td>

							<td> 
								<div class="price-wrap text-right"> 
									<var class="price">$ 4</var> 
					
								</div> <!-- price-wrap .// -->
							</td>

						</tr>
						
						<tr>
							<td colspan="3" class="text-center"><h5>Payment Summary</h5></td>
						</tr>
						<tr>
							<td><h5>Price </h5></td>
							<td class="text-right" colspan="2"><h5>$ 24</h5></td>
						</tr>
						<tr>
							<td><h5>Shipping Fee </h5></td>
							<td class="text-right" colspan="2"><h5>$ 0</h5></td>
						</tr>
						<tr>
							<td><h5>Order Total </h5></td>
							<td class="text-right" colspan="2"><h5>$ 24</h5></td>
						</tr>
						
						</tbody>
						</table>
						</div> <!-- card.// -->
					
					  <!--div id="menu2" class="tab-pane fade">
						<h3>Menu 2</h3>
						<p>Some content in menu 2.</p>
					  </div-->
					</div>
				</div>
				
			</div>
		</div>

	